USE [master]
GO
/****** Object:  Database [PBL_3]    Script Date: 23/04/2023 1:38:13 CH ******/
CREATE DATABASE [PBL_3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PBL_3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.HONG_SON\MSSQL\DATA\PBL_3.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PBL_3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.HONG_SON\MSSQL\DATA\PBL_3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PBL_3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PBL_3]
GO
/****** Object:  Table [dbo].[Ca_lam_viec]    Script Date: 23/04/2023 1:38:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ca_lam_viec](
	[Ma_ca] [int] IDENTITY(4,1) NOT NULL,
	[Ten_ca] [nvarchar](max) NULL,
	[Thoigianbatdau] [time](7) NULL,
	[Thoigianketthuc] [time](7) NULL,
 CONSTRAINT [PK_CA_LAM_VIEC] PRIMARY KEY CLUSTERED 
(
	[Ma_ca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chi_tiet_hoa_don]    Script Date: 23/04/2023 1:38:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chi_tiet_hoa_don](
	[Ma_HD] [int] NOT NULL,
	[Ma_SP] [int] NOT NULL,
	[Kich_thuoc] [char](10) NOT NULL,
	[Soluong_SP] [int] NULL,
	[Gia] [float] NULL,
 CONSTRAINT [PK_Chi_tiet_hoa_don_1] PRIMARY KEY CLUSTERED 
(
	[Ma_HD] ASC,
	[Ma_SP] ASC,
	[Kich_thuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hoa_don]    Script Date: 23/04/2023 1:38:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hoa_don](
	[Ma_HD] [int] IDENTITY(6,1) NOT NULL,
	[Ma_NV] [int] NOT NULL,
	[Ma_KH] [int] NOT NULL,
	[Trang_thai] [bit] NULL,
	[Ngay_mua] [datetime] NULL,
	[Tong_tien] [float] NULL,
 CONSTRAINT [PK_HOA_DON_1] PRIMARY KEY CLUSTERED 
(
	[Ma_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khach_hang]    Script Date: 23/04/2023 1:38:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khach_hang](
	[Ma_KH] [int] IDENTITY(1000000006,1) NOT NULL,
	[Ten_KH] [nvarchar](max) NOT NULL,
	[SDT] [nchar](10) NOT NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[Ma_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ma_loai]    Script Date: 23/04/2023 1:38:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ma_loai](
	[Ma_loai] [int] NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[DVT] [nvarchar](50) NULL,
 CONSTRAINT [PK_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[Ma_loai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nhan_vien]    Script Date: 23/04/2023 1:38:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhan_vien](
	[Ma_NV] [int] IDENTITY(10000001,1) NOT NULL,
	[Ten_NV] [nvarchar](max) NULL,
	[Ngay_sinh] [date] NULL,
	[Gioi_tinh] [bit] NULL,
	[SDT] [nchar](10) NULL,
	[Luong] [int] NULL,
	[Trang_thai] [bit] NULL,
 CONSTRAINT [PK_Nhan_vien] PRIMARY KEY CLUSTERED 
(
	[Ma_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phan_cong]    Script Date: 23/04/2023 1:38:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phan_cong](
	[Ma_NV] [int] NOT NULL,
	[Ma_ca] [int] NOT NULL,
	[Ngay] [date] NULL,
 CONSTRAINT [PK_PHANCONG] PRIMARY KEY CLUSTERED 
(
	[Ma_NV] ASC,
	[Ma_ca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[San_pham]    Script Date: 23/04/2023 1:38:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[San_pham](
	[Ma_SP] [int] NOT NULL,
	[Ten_SP] [nvarchar](max) NOT NULL,
	[Don_gia] [float] NOT NULL,
	[Ma_loai] [int] NOT NULL,
	[Trang_thai] [bit] NULL,
	[Hinh_anh] [varbinary](max) NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[Ma_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tai_khoan]    Script Date: 23/04/2023 1:38:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tai_khoan](
	[Ma_TK] [int] NOT NULL,
	[Ten_TK] [nvarchar](max) NULL,
	[Mat_khau] [nvarchar](max) NULL,
	[Loai_TK] [bit] NULL,
 CONSTRAINT [PK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[Ma_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Chi_tiet_hoa_don]  WITH CHECK ADD  CONSTRAINT [FK_Chi_tiet_hoa_don_Hoa_don] FOREIGN KEY([Ma_HD])
REFERENCES [dbo].[Hoa_don] ([Ma_HD])
GO
ALTER TABLE [dbo].[Chi_tiet_hoa_don] CHECK CONSTRAINT [FK_Chi_tiet_hoa_don_Hoa_don]
GO
ALTER TABLE [dbo].[Chi_tiet_hoa_don]  WITH CHECK ADD  CONSTRAINT [FK_Chi_tiet_hoa_don_San_pham] FOREIGN KEY([Ma_SP])
REFERENCES [dbo].[San_pham] ([Ma_SP])
GO
ALTER TABLE [dbo].[Chi_tiet_hoa_don] CHECK CONSTRAINT [FK_Chi_tiet_hoa_don_San_pham]
GO
ALTER TABLE [dbo].[Hoa_don]  WITH CHECK ADD  CONSTRAINT [FK_Hoa_don_Khach_hang] FOREIGN KEY([Ma_KH])
REFERENCES [dbo].[Khach_hang] ([Ma_KH])
GO
ALTER TABLE [dbo].[Hoa_don] CHECK CONSTRAINT [FK_Hoa_don_Khach_hang]
GO
ALTER TABLE [dbo].[Hoa_don]  WITH CHECK ADD  CONSTRAINT [FK_Hoa_don_Tai_khoan] FOREIGN KEY([Ma_NV])
REFERENCES [dbo].[Tai_khoan] ([Ma_TK])
GO
ALTER TABLE [dbo].[Hoa_don] CHECK CONSTRAINT [FK_Hoa_don_Tai_khoan]
GO
ALTER TABLE [dbo].[Phan_cong]  WITH CHECK ADD  CONSTRAINT [FK_Phan_cong_Ca_lam_viec] FOREIGN KEY([Ma_ca])
REFERENCES [dbo].[Ca_lam_viec] ([Ma_ca])
GO
ALTER TABLE [dbo].[Phan_cong] CHECK CONSTRAINT [FK_Phan_cong_Ca_lam_viec]
GO
ALTER TABLE [dbo].[Phan_cong]  WITH CHECK ADD  CONSTRAINT [FK_Phan_cong_Tai_khoan] FOREIGN KEY([Ma_NV])
REFERENCES [dbo].[Tai_khoan] ([Ma_TK])
GO
ALTER TABLE [dbo].[Phan_cong] CHECK CONSTRAINT [FK_Phan_cong_Tai_khoan]
GO
ALTER TABLE [dbo].[San_pham]  WITH CHECK ADD  CONSTRAINT [FK_San_pham_Ma_loai] FOREIGN KEY([Ma_loai])
REFERENCES [dbo].[Ma_loai] ([Ma_loai])
GO
ALTER TABLE [dbo].[San_pham] CHECK CONSTRAINT [FK_San_pham_Ma_loai]
GO
ALTER TABLE [dbo].[Tai_khoan]  WITH CHECK ADD  CONSTRAINT [FK_Tai_khoan_Nhan_vien] FOREIGN KEY([Ma_TK])
REFERENCES [dbo].[Nhan_vien] ([Ma_NV])
GO
ALTER TABLE [dbo].[Tai_khoan] CHECK CONSTRAINT [FK_Tai_khoan_Nhan_vien]
GO
USE [master]
GO
